* {
  font-family: sans-serif;
}

.m-0 {
  margin: 0;
}

:root {
  --v3-dropzone--primary: 94, 112, 210;
  --v3-dropzone--border: #D6D8DC;
  --v3-dropzone--description: #bebfc3;
  --v3-dropzone--overlay: 40, 44, 53;
  --v3-dropzone--overlay-opacity: 0.5;
  --v3-dropzone--error: 255, 76, 81;
  --v3-dropzone--success: 36, 179, 100;
}